		<div class="navbar navbar-light justify-content-sm-around justify-content-md-evenly align-items-start">
			<div class="flex-column ms-3">
				<ul class="list-unstyled">
		                {{ range .Site.Menus.footercol1heading }}
					<li class="p-1">{{ .Name }}</li>
		                {{ end }}
		                {{ range .Site.Menus.footercol1 }}
					<li class="p-1"><a href="{{ .URL }}">{{ .Name }}</a></li>
		                {{ end }}
				</ul>
			</div>
			<div class="flex-column me-3">
				<ul class="list-unstyled">
		                {{ range .Site.Menus.footercol2heading }}
					<li class="p-1">{{ .Name }}</li>
		                {{ end }}
		                {{ range .Site.Menus.footercol2 }}
					<li class="p-1"><a href="{{ .URL }}">{{ .Name }}</a></li>
		                {{ end }}
				</ul>
			</div>
		</div>

