
			<nav class="navbar navbar-expand-sm navbar-light" aria-label="searchmysite.net navbar">
				<div class="container-fluid">
					<div class="sms-logo">
						<a href="https://searchmysite.net/"><img src="/images/searchmysite-logo.svg" alt="Search My Site Logo"></a>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse flex-grow-0 sms-user-nav" id="topnav">
						<ul class="navbar-nav">
						    {{ range .Site.Menus.main }}
							<li class="nav-item">
								<a class="nav-link sms-medium-font" href="{{ .URL }}">{{ .Name }}</a>
							</li>
						    {{ end }}
						</ul>
					</div>
				</div>
			</nav>

