	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
	<meta name="keywords" content="{{ (delimit .Keywords ",") | default .Site.Params.keywords }}">
	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}
	<title>{{ with .Title }}{{ . }}{{ else }}{{ with .Site.Params.title }}{{ . }}{{ end }}{{ end }}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.5.2.2.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
	<link rel="stylesheet" type="text/css" href="/css/letterpress.css"/>
	<style> table { margin-bottom: 1rem; } </style>
	<script defer src="/js/bootstrap.5.2.2.min.js"></script>
	<script async defer data-domain="blog.searchmysite.net" src="https://stats.searchmysite.net/js/plausible.js"></script>
	<link href="https://searchmysite.net/opensearch.xml" rel="search" title="searchmysite.net" type="application/opensearchdescription+xml">

