<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body class="d-flex flex-column min-vh-100 sms-body">
        <div class="sms-search-container">

            <header class="search-header sms-layout-header">
                {{- partial "header.html" . -}}
            </header>

        </div>

	<main class="flex-grow-1">
            {{- block "main" . }}{{- end }}
	</main>

        <footer class="footer mt-5">
            {{- partial "footer.html" . -}}
        </footer>

    </body>
</html>
