{{ define "main" }}

		<div class="container-fluid h-100 col-md-8">

                    <div class="row sms-standard">
                        <div class="col-md-7">
                            <h1 class="sms-h1">{{ .Title }}</h1>
                        </div>
                        <div class="col offset-md-3">
                            <br><br><a class="btn sms-feed-link" href="/index.xml"><span class="sms-feed-label sms-medium-font" aria-label="RSS">Feed</span></a>
                        </div>
                    </div>
		</div>

		<div class="container-fluid h-100 mt-5 col-md-8">
                    {{ range .Site.RegularPages }}
                    <div class="row sms-standard">
                        <div class="col text-right">
                            <p class="sms-p2"><span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "2 Jan 2006" ) }}</span></p>
                        </div>
                        <div class="col text-left">
                                <p class="sms-p2"><a href="{{ .Permalink }}">{{ .Title }}</a><br></p>
                        </div>
                    </div>
                    {{ end }}

                    <div class="row mt-5">
                        <div class="col"></div>
                    </div>
		</div>

{{ end }}
