{{ define "main" }}
            <div class="container-fluid h-100 mt-5 col-md-8">
            <article>

                <div class="row sms-standard">

                        <p class="sms-p2"><a href="/">searchmysite.net blog</a></p>
                        <h1 class="sms-h1">{{ .Title }}</h1>
                        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                            {{ .Date.Format (.Site.Params.dateFormat | default "2 Jan 2006" ) }}
                        </time>

                        <div class="sms-t-24 sms-b-24"></div>

                        <div>{{ .TableOfContents }}</div>

                        <div class="sms-h-line sms-t-24 sms-b-24"></div>

                        <div>{{ .Content | replaceRE "<p>" "<p class=\"sms-p2\">" | replaceRE "<ul>" "<ul class=\"sms-list-2\">" | replaceRE "<h2" "<h2 class=\"sms-h2\"" | replaceRE "<h3" "<h3 class=\"sms-h3\"" | safeHTML }}</div>

                </div>

            </article>
            </div>
{{ end }}

